<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
    <ol>
      <!-- Loop over all the films in movieList -->
      <% movieList.forEach(function (film) {%>

      <!-- Only show the results that are movies -->
      <!-- (i.e., do not show TV shows) -->
      <% if (film.Type === "movie") { %>

      <!-- Show the title and the imdbID -->
      <li>
      <a href="/details/<%= film.imdbID %>"><%= film.imdbID %></a> -- <%=film.Title%> </li>

      <!-- Close the `if` -->
      <% } %>

      <!-- Close the `forEach` -->
      <% }) %>
    </ol>
  </body>
</html>